
.R-Full-Container{
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.R-Container{
    width: 1370px;
    background-color: #fff;
    padding: 0px 20px 25px 20px;
}

.R-Options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 120px;
    margin: 25px 27px 0px 27px;

}

.menu-items img{
    width: 74px;
    height: 74px;
    border-radius: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.104);
    border-radius: 15px;
}

.menu-items P{
    text-align: center;
    width: 65px;
    font-size: 12px;
}

.Litem img{
    border: 1px solid black;
}

