 body {
    font-family: sans-serif;
}

.Container {
    width: 1149px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Car-detail-Container {
    display: flex;
    flex: 1;
    padding: 10px 20px 0px 30px;
    margin-left: 30px;
    flex-direction: column;
}


.Car-img-Container {
    display: flex;
    flex: 1.5;
}

.Car-img-Container .buttons {
    display: flex;
    position: absolute;
    width: 640px;
    justify-content: space-between;
    margin-top: 150px;
}

.prev-botton span {
    margin: 0px 0px 0px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: gray;
    cursor: pointer;
}


.prev-botton span img {
    width: 15px;
    padding: 10px;
}

.next-botton span {
    margin: 0px 10px 0px 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: gray;
    cursor: pointer;
}

.next-botton span img {
    width: 15px;
    padding: 10px;
}

.Car-img-Container .car-image img {
    border-radius: 15px;
}

.Car-img-Container .bottom-icon {
    position: absolute;
    margin: 327px 0px 0px 10px;
}


.Car-img-Container .Car-menu-img {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 325px 0px 0px 520px;
    background-color: #fff;
    padding: 8px 15px 6px 15px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.326);
}

.Car-img-Container .Car-menu-img img {
    width: 10px;
    padding-right: 5px;

}

.Car-img-Container .Car-menu-img p {
    margin: 0px 0px 0px 0px;
    font-size: 11px;
}




.Car-detail {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.333);
    border-radius: 15px;
    overflow: hidden;
}

.Car-details-top {
    padding: 25px 30px 10px 30px;

}

.heading {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.heading .head {
    display: flex;
    flex: 2.5;
    margin: 0px;
    font-size: 21.5px;
    color: rgb(0, 0, 0);
}

.side-head {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.certified {
    font-size: 11px;
    display: flex;
    align-items: flex-start;
}

.certified span {
    background-color: rgba(128, 128, 128, 0.163);
    padding: 5px;
    border-radius: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.549);
}

.Like-Icon {
    display: flex;
    align-items: flex-start;
}

.Like-Icon img {
    width: 19px;
}

.heart-icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.heart-icon.favorited {
    scale: 1.1;

}

.Car-run-details {
    display: flex;
    flex: 1;
}

.Car-run-details span {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.Car-run-details p {
    margin: 10px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.537);
    font-size: 13px;
    padding: 0px 10px 0px 0px;
}

.Car-Amount {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px;
    border-bottom: 1px dashed rgba(48, 48, 48, 0.218);
}

.Car-Amount h2 {
    margin: 0px 0px 10px 0px;

}

.Car-Amount a {
    color: black;
    margin: 0px 0px 15px 0px;
    font-size: 13px
}

.Car-details-Bottom-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.location-compare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    font-size: 12px;
}

.location {
    color: rgba(0, 0, 0, 0.714);
    display: flex;
    align-items: center;
}

.location img {
    margin: 0px 3px 0px 0px;
}

.location-compare img {
    width: 15px;
}

.compare {
    color: rgba(0, 0, 0, 0.714);
    display: flex;
    align-items: center;
}

.compare input {
    accent-color: rgba(240, 72, 0, 0.968);
}


.seller-button {
    display: flex;
    flex: 1;
}

.seller-button button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 15px 5px 5px 5px;
    padding: 15px 0px 15px 0px;
    background-color: #f75D34;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(76, 1, 1, 0.289);
}

.Car-detail-b {
    display: flex;
    background-color: rgba(128, 128, 128, 0.133);
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.Car-detail-b .T-head {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-right: 4px;

}

.Car-detail-b span img {
    width: 16px;
}

.Car-detail-b p {
    display: flex;
}

.light-text {
    color: rgba(0, 0, 0, 0.714);
}

.social-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px 25px 0px;
    font-size: 15px;
}

.brands {
    display: flex;
}

.brands a {
    color: black;

}

.brands img {
    width: 20px;
    padding-right: 8px;
}
